/* Button.css */
.custom-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #333; /* Default text color */
  border: 1px solid #333; /* Border color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border-color: #333; /* Ensure border color matches the background */
}
