/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the incorrect @apply */
/* Force dark mode by adding the 'dark' class to the root element */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Ensure dark background */
  color: #e0e0e0; /* Light text color */
}

html {
  scroll-behavior: smooth;
}
